// Typographical styles goes here
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.text-bottleGreen{
    color: $bottleGreen;
}

.text-darker{
    color: $fontDrak;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .hero-title-font{
        font-size: 1.875rem;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .hero-title-font{
        font-size: 2.5rem;
    }
    .title-font{
        font-size: 2.75rem;
        font-weight: 700;
        color: $fontDrak;
     }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .hero-title-font{
        font-size: 3.5rem;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .hero-title-font{
        font-size: 3.875rem;
    }

    
 
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .hero-title-font{
        font-size: 4.875rem;
    }    
 }

 .title-font{
    // font-size: 1.75rem;
    font-weight: 700;
    color: $fontDrak;
 }

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: $fontDrak;
    color: white;
    font-size: small;
    padding-left: 2px;
}

.icon-container:hover {
    background-color: $bottleGreen;
}

.icon-color{
    color: gray;
}

.icon-color:hover{
    color: $bottleGreen;
}

.text-link:hover {
    color: $bottleGreen;
    opacity: 90%;
}

.logo-company {
    height: 60px;
    // width: 200px;
}