// $bottleGreen: #03363d;
$bottleGreen: #17494d;
$backgroundLight: rgb(214, 238, 241);
$secondaryBg: #e3f0d2;
$green: #00a656;
$PeaLight: #fed6a8;
$pink: #ce9fb7;
// $messBlue: #30aabc;
$messBlue: #3d8dae;
$kesariya: #f79a3e;
$Yellow: #efc93d;
$btnBg: #ece0ce;
$transWhite: rgba(255, 255, 255, 0.767);
$fontDrak: #03363d;
$smokeWhite: #f8f9f9;
$skyblue: #d6eef1;