// $bottleGreen: #03363d;
$bottleGreen: #17494d;
$backgroundLight: rgb(214, 238, 241);
$secondaryBg: #e3f0d2;
$green: #00a656;
$PeaLight: #fed6a8;
$pink: #ce9fb7;
$messBlue: #30aabc;
$kesariya: #f79a3e;
$btnBg: #ece0ce;