// Button styles goes here
.btn-background {
    color: $bottleGreen;
    background-color: #ece0ce;
    border: 2px solid #ece0ce;
}
.btn-background:hover {
    border: 2px solid whitesmoke;
}

.btn-custom-outline{
    color: #ece0ce;
    border: 2px solid #ece0ce ;
}
.btn-custom-outline:hover{
    background-color: white;
    color: $bottleGreen;
}

.btn-dark-outline{
    border-color: $bottleGreen;
    color: $bottleGreen;
    background-color: white;
}

.btn-dark-outline:hover{
    border-color: $bottleGreen;
    background-color: #06615a;
    color: white;
}

.btn-dark-bg{
    background-color: $bottleGreen;
    color: whitesmoke;
    border: 2px solid $bottleGreen
}
.btn-dark-bg:hover{
    background-color:  #06615a;
    color: whitesmoke;
}
.btn-dark-outline{
    color: $bottleGreen;
    background-color: $skyblue;
    border: 2px solid $bottleGreen;
}
.btn-dark-outline:hover{
    color: whitesmoke;
    background-color: $bottleGreen;
}

.showHeader{
    .btn-background {
        border: 2px solid $bottleGreen;
        background-color: $bottleGreen;
        color: whitesmoke;
    }
    .btn-background:hover {
        background-color: whitesmoke;
        color: $bottleGreen;
        border: 2px solid $bottleGreen
    }
    .btn-custom-outline{
        color: $bottleGreen;
        border: 2px solid $bottleGreen;
    }
    .btn-custom-outline:hover{
        color: whitesmoke;
        background-color: $bottleGreen;
    }
}



.nav-item {
    border-bottom: 2px solid transparent;
}
.nav-item:hover {
    border-bottom: 2px solid $fontDrak;
}

.nav-border {
    border-bottom: 2px solid $fontDrak;
}

.content-box-hover:hover{
    border-left: 3px solid $bottleGreen;
    box-shadow: 1.5px 1.5px 5px 1.5px #e2e0e0;
    border-radius: 3px;
}
.content-box-hover{
    border-left: 3px solid transparent;
}

.float-button-container{
    position: sticky;
    bottom: 20px;
    right: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 120;
}

.float-button{
    background-color: $bottleGreen;
    border-color: $bottleGreen;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.float-button:hover{
    background-color: #06615a;
}