// Button styles goes here
.btn-background {
    background-color: #ece0ce;
    color: $bottleGreen;
}

.btn-custom-outline{
    color: #ece0ce;
    border-color: #ece0ce;
}

.btn-dark-outline{
    border-color: $bottleGreen;
    color: $bottleGreen;
    background-color: white;
}

.btn-dark-outline:hover{
    background-color: #06615a;
    color: white;
}