// Button styles goes here
.btn-background {
    background-color: rgb(245, 237, 228);
    color: $bottleGreen;
}

.btn-custom-outline{
    color: rgb(245, 237, 228);
    border-color: rgb(245, 237, 228);
}