// Card styles goes here
.tour-info-card {
    position: absolute;
    z-index: 20;
    top:5.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#person-msg-card:hover{
    .btn-dark-outline{
        background-color: #06615a;
        color: white;
    }
}

.Promo-Card-container{
   width: 349px;
   height: 299px; 
   background-color: $smokeWhite;
}

.promo-sticker{
    position: absolute;
    right: -53px;
    top: -35px;
    height: 110px;
    width: 110px;
}