// Card styles goes here
.tour-info-card {
    position: absolute;
    z-index: 20;
    top:5.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#person-msg-card:hover{
    .btn-dark-outline{
        background-color: #06615a;
        color: white;
    }
}

.Promo-Card-container{
   width: 349px;
   height: 299px; 
   background-color: $smokeWhite;
}

.promo-sticker{
    position: absolute;
    right: -53px;
    top: -35px;
    height: 110px;
    width: 110px;
}

.card-item:hover {
    color: $bottleGreen;
    margin-right: 1rem;
}
.card-item {
    color: $bottleGreen;
    margin-right: .5rem;
}

.icon-arrow-right{
    color: $bottleGreen;
    height: 6px;
    width: 8px;
    font-weight: lighter;
}

.icon-arrow-right:hover{
    color: $bottleGreen;
    margin-left: .75rem;
}

// .lower-img-container {
//     transition: height 4s;
//     height: 50%;
//     position: absolute;
//     bottom: 0;
// }
//  .lower-img-container: