// Card styles goes here
.tour-info-card {
    position: absolute;
    z-index: 20;
    top:5.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#person-msg-card:hover{
    .btn-dark-outline{
        background-color: #06615a;
        color: white;
    }
}

.Promo-Card-container{
   width: 349px;
   height: 299px; 
   background-color: $smokeWhite;
}

.promo-sticker{
    position: absolute;
    right: -53px;
    top: -35px;
    height: 110px;
    width: 110px;
}

.card-item:hover {
    color: $bottleGreen;
    margin-right: 1rem;
}
.card-item {
    color: $bottleGreen;
    margin-right: .5rem;
}

.icon-arrow-right{
    color: $bottleGreen;
    height: 6px;
    width: 8px;
    font-weight: lighter;
}

.icon-arrow-right:hover{
    color: $bottleGreen;
    margin-left: .75rem;
}


// .lower-image-usecase{
//     width: 533.8px;
//     bottom: 0;
//     left: 0;
//     top: 15px;
//     animation: grow 4s forwards;
// }

@keyframes grow {
    from{
        bottom: 0;
        top: 677px;
        height: 50%;
    }
    to{
        bottom: 0;
        top: 15px;
        height: 100%;
    }
}

.customise-card{
    background-color: white;
    padding: 4rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    right: 16%;
}

.clip-img{
    width: 500px;
}

.clip-icon-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 196, 238);
    opacity: 90%;
    color: white;
    height: 100px;
    width: 150px;
    top: 30%;
    left: 35%;
}

.clip-icon-container:hover{
    opacity: 70%;
    background-color: skyblue;
}

