// Style for slider start
.heroContainer {
    background-color: $bottleGreen;
    height: 600px;
}
// @media (min-width: 768px) { 
//     .heroContainer{
//         height: 500px;
//     }
//  }

 .text-roller-up {
    color: $green;
    height: 80px;
    overflow: hidden;
    display: inline-block;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1199.98px) { 
    .text-roller-up{
        height: 60px;
    }
}

.text-roller-up > span{
    display: inline-block;
    margin-top: 0;
}

.text-roller-up :first-child{
    position: relative;
    animation: spinnerUp 6s,
    colorize 4s 6s;
    height: 100%;
    display: inline-block;
}

.content-border  {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 3px;
        background-color: white;
        transition: ease-in-out;
        animation: spinnerBorder 6s;
    }
}

@keyframes spinnerUp {
    0% {
        // content: 'customer';
        color: $green;
        margin-top: .75rem;
    }

    15% {
        // content: 'no-hassle';
        color: $green;
        margin-top: -85px;
    }

    30% {
        // content: 'not waiting on';
        color: $Yellow;
        margin-top: -180px;
    }

    50% {
        // content: 'social';
        color: $transWhite;
        margin-top: -275px;
    }

    70% {
        // content: 'extra sauce';
        color: $kesariya;
        margin-top: -370px;
    }

    85% {
        // content: 'actually having ';
        color: $messBlue;
        margin-top: -465px;
    }

    100% {
        // content: 'customer';
        color: $green;
        margin-top: 0;
    }
}

@keyframes spinnerBorder {
    0% {
        // content: 'customer';
        width: 329x;
    }

    15% {
        // content: 'not waiting on ';
        width: 338px;
    }

    30% {
        // content: 'social ';
        width: 516px;
    }

    50% {
        // content: 'extra sauce  ';
        width: 198px;
    }

    70% {
        // content: 'actually having ';
        width: 397px;
    }

    85% {
        // content: 'actually having ';
        width: 532px;
    }

    100% {
        // content: 'customer';
        color: $green;
        margin-top: 0;
    }
}

.text-champions::before{
  content: 'Champions';
  color: $pink;
  animation: color-change 6s,
  colorize 5s 8s;
}

.text-of::before{
  content: 'of';
  color: $PeaLight ;
  animation: color-change 6s,
  colorize 4s 6s;
}

@keyframes color-change {
    15% {
        color: white;
    }
    50%{
        color: white;
    }
    100%{
        color: white;
    }
}

@keyframes colorize {
    0%{
        color: $green;
    }
    25%{
        color: $Yellow;
    }
    50%{
        color: $transWhite;
    }
    75%{
        color: $kesariya;
    }
    100%{
        color: $messBlue;
    }
}


.tour-wrapper {
    background-color: $secondaryBg ;
    height: 765px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.homeBug-img{
    filter: brightness(.7);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media screen and (min-width: 1200px) { 
    .wrapper{
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .title-wrapper{
        width: 628px;
    }

    
    .platform-container{
        margin-bottom: 3rem;
    }
    .experience-container{
        height: 618px;
        padding-top: 5rem;
    }
   
  
 }

.title-wrapper{
    padding: .75rem;
}


.upper-image-usecase {
    z-index: 10;
    position: absolute;
    top: 265px;
    left: -17px;
    height: 50%;
}
.info-conatiner{
    width: 500px;
}

.info-border-left {
    border-left: 2px solid lightgray;
}

.platform-container{
    margin-bottom: 24rem;
}

.gartner-container{
    background-color: $skyblue;
    padding: 1.75rem;
    text-align: center;
}

.gartner-logo{
    height: 42px;
}

.article-container{
    width: 1104px;
}

.inner-container{
    width: 1104px;
}





.link-container{
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 2px solid lightgray;
    width: 1104px;
}

.footer-inner-container{
    background: $skyblue;
    color: $bottleGreen;
}

.service-link-text{
    font-size: small;
    color: $bottleGreen;
    opacity: 95%;
}
.service-link-text:hover{
    border-bottom: 1px solid $bottleGreen;
    color: $bottleGreen;
    opacity: 80%;
    cursor: pointer;
}

@media screen and (min-width: 986px) {
    .upper-image-usecase{
            z-index: 10;
            position: absolute;
            top: 445px;
            left: -80px;
        }
}